{{define "service"}}
<template id="service">
    <div style="margin-left: 30px;">
        <el-dialog title="添加" :visible.sync="addServiceVisible" width="480px" :close-on-click-modal="false">
            <el-form :model="sform" ref="sform" label-position="left" label-width="100px" :rules="sformRules"
                :show-message="false">
                <el-form-item label="服务器" prop="host">
                    <el-input v-model="sform.host" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="端口" prop="port">
                    <el-input v-model="sform.port" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="服务" prop="systemd">
                    <el-input v-model="sform.systemd" autocomplete="off" placeholder="systemd服务名称"></el-input>
                </el-form-item>
                <el-form-item label="备注" prop="remark">
                    <el-input v-model="sform.remark" autocomplete="off" placeholder="备注"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="addServiceVisible = false">取 消</el-button>
                <el-button type="primary" @click="handleAddService">确 定</el-button>
            </div>
        </el-dialog>

        <el-dialog :title="editNode ? '编辑' : '添加'" :visible.sync="addGroupVisible" width="360px" :close-on-click-modal="false">
            <el-form :model="gform" ref="gform" label-position="left" label-width="100px" :rules="gformRules"
                :show-message="false">
                <el-form-item label="名称" prop="name">
                    <el-input v-model="gform.name" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="kibana" prop="kibana" v-if="clickNode.type === 'cluster'">
                    <el-input v-model="gform.kibana" autocomplete="off"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="addGroupVisible = false">取 消</el-button>
                <el-button v-if="clickNode.type === 'base'" type="primary" @click="handleAddGroup">确 定</el-button>
                <el-button v-else type="primary" @click="handleAddCluster">确 定</el-button>
            </div>
        </el-dialog>

        <div ref="menu" class="right-menu" :show="contextMenuVisible">
            <el-menu class="el-menu-vertical">
                <div v-if="clickNode.type === 'base'">
                    <el-menu-item @click="gform.name = '';addGroupVisible=true">
                        <i class="el-icon-circle-plus-outline"></i>
                        <span slot="title">添加分组</span>
                    </el-menu-item>
                    <el-divider></el-divider>
                    <el-menu-item>
                        <i class="el-icon-refresh"></i>
                        <span slot="title">刷新数据</span>
                    </el-menu-item>
                </div>
                <div v-if="clickNode.type === 'group'">
                    <el-menu-item @click="gform.name = '';addGroupVisible=true">
                        <i class="el-icon-circle-plus-outline"></i>
                        <span slot="title">添加集群</span>
                    </el-menu-item>
                    <el-divider></el-divider>
                    <el-menu-item @click="hendleRename">
                        <i class="el-icon-edit"></i>
                        <span slot="title">重命名</span>
                    </el-menu-item>
                    <el-divider></el-divider>
                    <el-menu-item @click="handleDelGroup">
                        <i class="el-icon-delete"></i>
                        <span slot="title">删除节点</span>
                    </el-menu-item>
                </div>
                <div v-if="clickNode.type === 'cluster'">
                    <el-menu-item @click="sform={host: '',systemd: '',port: '9200'};addServiceVisible = true">
                        <i class="el-icon-circle-plus-outline"></i>
                        <span slot="title">添加ES服务</span>
                    </el-menu-item>
                    <el-divider></el-divider>
                    <el-menu-item @click="hendleRename">
                        <i class="el-icon-edit"></i>
                        <span slot="title">编辑集群</span>
                    </el-menu-item>
                    <el-divider></el-divider>
                    <el-menu-item @click="handleDelCluster">
                        <i class="el-icon-delete"></i>
                        <span slot="title">删除集群</span>
                    </el-menu-item>
                </div>
            </el-menu>
        </div>

        <el-row :gutter="20">
            <el-col :xs="24" :sm="24" :md="9" :lg="6" :xl="5">
                <el-input v-model="filterText" placeholder="搜索" size="mini" prefix-icon="el-icon-search"></el-input>
                <el-tree ref="tree" :filter-node-method="filterNode" :expand-on-click-node="false" :data="treeData"
                    :props="defaultProps" @node-click="handleNodeClick" @node-contextmenu="handleRightClick"
                    node-key="tid" :default-expanded-keys="expands" expand-on-click-node highlight-current accordion>
                    <span class="tree-node" slot-scope="{node, data}">
                        <span>
                            <i v-if="data.type === 'cluster'" class="el-icon-refrigerator"></i>
                            <i v-else class="el-icon-folder-opened"></i>
                            {% node.label %}
                            <span v-show="data.number">({% data.number %})</span>
                        </span>

                        <span>
                            <el-link type="primary" v-if="data.type === 'cluster' && data.kibana" :href="data.kibana" target="_blank">
                                Kibana
                            </el-link>
                        </span>
                    </span>
                </el-tree>
            </el-col>

            <el-col :xs="24" :sm="24" :md="15" :lg="18" :xl="19">
                <el-card class="box-card">
                    <div slot="header" class="clearfix">
                        <el-input v-model="search" style="width: 200px;float: right;" class="filter-item"
                            placeholder="搜索" prefix-icon="el-icon-search"></el-input>
                    </div>

                    <el-table :data="tables" style="width: auto">
                        <el-table-column prop="id" label="序号">
                        </el-table-column>
                        <el-table-column prop="host" label="服务器">
                        </el-table-column>
                        <el-table-column prop="port" label="端口">
                        </el-table-column>
                        <el-table-column label="状态">
                            <template slot-scope="scope">
                                <el-tag v-show="scope.row.status === 1" type="success">运行中</el-tag>
                                <el-tag v-show="scope.row.status === 0" type="warning">已停止</el-tag>
                                <el-tag v-show="scope.row.status === -1" type="danger">请求出错</el-tag>
                            </template>
                        </el-table-column>
                        <el-table-column prop="remark" label="备注">
                        </el-table-column>
                        <el-table-column label="操作">
                            <template slot-scope="scope">
                                <el-button v-if="scope.row.status === 1" type="text"
                                    @click="handleService('stop', scope.row)">停止
                                </el-button>
                                <el-button v-else type="text" @click="handleService('start', scope.row)">启动</el-button>
                                <el-button type="text" @click="handleEditService(scope.row)">编辑</el-button>
                                <el-button type="text" @click="handleDelService(scope.row.sid)">删除</el-button>
                            </template>
                        </el-table-column>
                    </el-table>

                </el-card>
            </el-col>

        </el-row>
    </div>
</template>
{{end}}